body {
    background-color: rgb(253, 251, 251);git
}

#cabecalho {
    position: fixed;
    top: 0;
}

article {
    position: relative;
    top: 50px;
}

#meu_aprendizado {
    position: relative;
    margin-right: 1200px;
    left: 70px;
    top: 70px;
   
}

#licoes_aprendidas {
    position: relative;
    left: 330px;
    bottom: 170px;
    
} 

#licoes_a_aprender {
    position: relative;
    left: 800px;
    bottom: 430px;

}

h1 {
    font-size: 30px;
}

#minha_foto {
    position: relative;
    top: 60px;
    border-radius: 50%;
}

#introdução {
    position: relative;
    top: 25px;
}